<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>WELCOME</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body id='login'>
  <main class='login'>
  <h1>Simovi!</h1>
   <div>
        <nav >
          <ul id="container-profile">
              <li class = "profile">
                <a href="/users/login">Login</a>
              </li>
              <li class = "profile">
                <a href="/users/new">Sign Up</a>
              </li>
          </ul>
      </nav>
    
  </main>
</body>
</html>