@import url('https://fonts.googleapis.com/css?family=Questrial');
#login {
    background-image: url(./1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#profile {
    background-image: url(./1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#new {
    background-image: url(./1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.login-wrapper {
    font-family: 'Questrial', sans-serif;
    font-color: white;
    display: grid;
    grid-template-columns: 30%;
    justify-content: center;
}

.movie-search {
    font-size: 25px;
}

#search {
    background-color: black;
}

h1 {
    text-align: center;
    font-family: 'Questrial', sans-serif;
    font-size: 60px;
    color: white!Important;
    padding: 1em;
}

h2 {
    text-align: center;
    font-family: 'Questrial', sans-serif;
    font-size: 40px;
    color: white!Important;
    padding: 1em;
}

h3 {
    text-align: center;
    font-family: 'Questrial', sans-serif;
    font-size: 25px;
    color: white!Important;
    padding: 1em;
}

a {
    font-family: 'Questrial', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 25px;
    background-color: #595353;
    margin: 10px;
    display: inline-block;
    padding: 10px 10px;
    text-align: center;
}

a:hover {
    background: #BFB3B3;
}

p {
    font-family: 'Questrial', sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
}

form input:valid {
    background: white;
}

input {
    display: block;
    margin: 0;
    width: 100%;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
}

button {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
}

#search-button {
    width: 20%;
    margin: 0 auto;
    background-color: #BFB3B3
    
}

#search-input {
    width: 50%;
    margin: 0 auto;
}

input:focus {
    outline: none;
}

label {
    font-size: 25px;
    display: block;
    width: 150px;
}

form {
    font-size: 25px;
    color: white;
}
