@import url('https://fonts.googleapis.com/css?family=Questrial');
#login {
    background-image: url(./1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#profile {
    background-image: url(./1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#new {
    background-image: url(./1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#container-profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container {
    display: flex;
    justify-content: center;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    height: 90vh;
    width: 80vw;
    padding: 10px 10px;
    border: 10px;
    border-color: #BFB3B3;
    border-style: solid;
}


.results-login {
    font-family: 'Questrial', sans-serif;
    font-color: white;
    
}

.movie-search {
    font-size: 25px;
}

#search {
    background-color: black;
}

h1 {
    text-align: center;
    font-family: 'Questrial', sans-serif;
    font-size: 60px;
    color: white!Important;
    padding: 1em;
}

h2 {
    text-align: center;
    font-family: 'Questrial', sans-serif;
    font-size: 40px;
    color: white!Important;
    padding: 1em;
}

h3 {
    text-align: left;
    font-family: 'Questrial', sans-serif;
    font-size: 25px;
    color: white!Important;
    padding: 1em;
}

a {
    font-family: 'Questrial', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 25px;
    background-color: #595353;
    margin: 10px;
    padding: 10px 10px;
    text-align: center;
}

a:hover {
    background: #BFB3B3;
}

p {
    font-family: 'Questrial', sans-serif;
    font-size: 25px;
    color: white;
    text-align: left;
}


input {
    margin: 0;
    width: 300px;
    height: 40px;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;

}
.login {
    width: 150px;
}
label{
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    font-size: 25px;
    width: 150px;
}

button {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
}

#search-button {
    width: 20%;
    margin: 0 auto;
    background-color: #BFB3B3;
}

#search-input {
    width: 50%;
    margin: 0 auto;
}

input:focus {
    outline: none;
}


form {
    font-size: 25px;
    color: white;
}
