@import url('https://fonts.googleapis.com/css?family=Questrial');

/*******login page***************/


#login {
    background-image: url(./1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.results-login {
    font-family: 'Questrial', sans-serif;
    font-color: white;
    
}
.login {
    width: 150px;
}
input:focus {
    outline: none;
}

#password {
font-color: white;
}

form {
    font-size: 25px;
    color: white;
}
#new {
    background-image: url(./1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/****************profile *************/

#profile {
    background-image: url(./1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#container-welcome {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.welcome-email {
    /*text-align: center;*/
    margin-left: 40px;
    margin-bottom: 60px;
    color: white;
    font-family: 'Questrial', sans-serif;
    font-size: 30px;

}

#container-profile {
    display: flex;
    /*flex-direction: row;*/
    justify-content: center;
    align-items: center;
    width: 800px;
}

nav ul { list-style-type: none; }

li > .profile {
    width: 75vh;
    height: 25vh;
    text-decoration: none;
    margin-right: 
}

/*saved movies- nav bar*/

.container-nav {
    display: flex;
    justify-content: start;
    width: 50%;
    
}

a .nav {
 /*   flex: 1;*/
}

.box-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100vh;
    display: -ms-flex;
    display: -webkit-flex;

   
}
.box-results > div {

    border-color: white;
    padding: 10px;
    border: solid 1px;
    width: 50%;
    height: 60%;

}
.box-results > div:first-child {
    margin-right: 20px;
}




.movie-search {
    font-size: 20px;
}

#search {
    background-color: black;
}

h1 {
    text-align: center;
    font-family: 'Questrial', sans-serif;
    font-size: 60px;
    color: white!Important;
    padding: 1em;
}

h2 {
    text-align: center;
    font-family: 'Questrial', sans-serif;
    font-size: 40px;
    color: white!Important;
    padding: 1em;
}

h3 {
    text-align: left;
    font-family: 'Questrial', sans-serif;
    font-size: 25px;
    color: white!Important;
    padding: 1em;
}

a {
    font-family: 'Questrial', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 25px;
    background-color: #595353;
    margin: 10px;
    padding: 10px 10px;
    text-align: center;
}



a:hover {
    background: #BFB3B3;
}

p {
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    color: white;
    /*text-align: left;*/
}


input {
    margin: 0;
    width: 300px;
    height: 40px;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;

}

label{
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    font-size: 25px;
    width: 150px;
}

button {
    text-align: center;
    margin-top: 100px;
    width: 50%;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;

}

#search-button {
    width: 20%;
    margin: 0 auto;
    background-color: #BFB3B3;
}

#search-input {
    width: 50%;
    margin: 0 auto;
}




