<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type='text/javascript' src='/js/script.js'></script>
</head>

<body>
    <div class="container">
        <nav>
            <a href="/shows">Saved Movies</a>
            <a href="/user/logout">Log Out</a>
        </nav>
        <h1></h1>
        <h2>Search Movies</h2>
        <form id="search">
            <input type="text" id="search-input" placeholder="Movie Name" />
            <button id="search-button">Search</button>
        </form>
        <div class="results">
        </div>
    </div>
</body>

</html>
