<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery.js"></script>
    <script type='text/javascript' src='/js/script.js'></script>
</head>

<body id = 'search'>
    <div class="container">
        <nav class="container-nav">
            <a href="/user/logout" class="nav">Log Out</a>
            <a href="/movies/new" class="nav">Search</a>
        </nav>
        <div id='container-saved'>
        <h1>Your Movie Suggestions:</h1>
        <div class='movie-list'>
            {{#data}}
            <p class='movie_id' data-id={{movie_id}}>ID:{{ movie_id }}</p>
            <p class='single_movies'><a href="/movies/{{id}}">Table ID:{{id}}</a></p>
            <p class ='summary'>{{ overview }}</p>
            <h2 class='title'>{{title}}</h2>
            <button class="deleteBtn" id="{{movie_id}}">DELETE</button>
                <form class='add-comment'>
                 <!--    <label>Movie Notes:</label>
                    <input class="movie-comment" />
                    <button type="submit">Submit</button>
                </form> -->
                {{/data}}
         
                 </form>
        </div>
        </div>
</body>

</html>
